<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.magic_shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TEST">

        <activity

            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MyPageMainActivity"/>
        <activity android:name=".PaymentCompleteActivity"/>
        <activity android:name=".MyPageSettingActivity"/>
        <activity android:name=".MyPageInputPasswordActivity"/>
        <activity android:name=".MyPageUserInfoChangeActivity"/>
        <activity android:name=".MyPageChangePasswordActivity"/>
        <activity android:name=".MyPageDeliveryAddressManageActivity"/>
        <activity android:name=".MyPageDeliveryAddressEditActivity"/>
        <activity android:name=".MypageDeliveryAddressPlusActivity"/>
        <activity android:name=".MyPageRefundAccountManageActivity"/>
        <activity android:name=".MyPageOrderListActivity"/>
        <activity android:name=".MyPageExchangeWaitingListActivity"/>
        <activity android:name=".MyPageRefundRequestActivity"/>
        <activity android:name=".MyPageExchangeRequestActivity"/>
        <activity android:name=".MyPageExchangeFinishedListActivity"/>
        <activity android:name=".MyPageRefundWaitingListActivity"/>
        <activity android:name=".MyPageRefundFinishedListActivity"/>
        <activity android:name=".MyPageUnreviewedListActivity"/>
        <activity android:name=".MyPageReviewedListActivity"/>
        <activity android:name=".MyPageQuestionListActivity"/>
        <activity android:name=".MyPageAnswerListActivity"/>
        <activity android:name=".MyPageReviewWriteActivity"/>
        <activity android:name=".CategoryProductListActivity" />
        <activity android:name=".CategorySelectionActivity" />
        <activity android:name=".DetailPageMainActivity"/>
        <activity android:name=".DetailPageMainReviewActivity"/>
        <activity android:name=".DetailPageMainOptionSelectActivity"/>
        <activity android:name=".DetailPageMainSizeActivity"/>
        <activity android:name=".DetailPageMainAskActivity"/>
        <activity android:name=".DetailPageAllReviewActivity"/>
        <activity android:name=".DetailPageMainOptionSelectCompleteActivity"/>
        <activity android:name=".DetailPageOrderInquiryActivity"/>
        <activity android:name=".DetailPageProductInquiryActivity"/>
        <activity android:name=".ManagerMainActivity" />
        <activity android:name=".ManagerProductRegisterListActivity" />
        <activity android:name=".ManagerProductReviseListActivity" />
        <activity android:name=".ManagerSellerListActivity" />
        <activity android:name=".SellerMyPageMainActivity" />
        <activity android:name=".SellerSettingActivity" />
        <activity android:name=".SellerChangePasswordActivity" />
        <activity android:name=".SellerProductListActivity" />
        <activity android:name=".SellerProductRegisterActivity" />
        <activity android:name=".SellerProductRegisterRequestActivity" />
        <activity android:name=".SellerProductRegisterRequestListActivity" />
        <activity android:name=".SellerProductReviseActivity" />
        <activity android:name=".SellerProductReviseRequestActivity" />
        <activity android:name=".SellerProductReviseRequestListActivity" />
        <activity android:name=".SellerProductDeleteActivity" />
        <activity android:name=".SellerOrderListActivity" />
        <activity android:name=".SellerRefundAccountManageActivity" />
        <activity android:name=".SellerReviewListActivity" />
        <activity android:name=".SellerUserInfoChangeActivity" />
        <activity android:name=".SellerInputPasswordActivity" />
        <activity android:name=".SellerQuestionListActivity" />
        <activity android:name=".SellerAnswerWriteActivity" />
        <activity android:name=".SellerExchangeListActivity" />
        <activity android:name=".SellerRefundListActivity" />
        <activity android:name=".ShoppingBasketActivity"/>
        <activity android:name=".OrderFormActivity"/>
        <activity android:name=".SearchResultActivity"/>



    </application>
</manifest>