<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magic_shop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TEST">
        <activity
            android:name=".Mypage_MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mypage_SettingActivity"/>
        <activity android:name=".Mypage_InputPasswordActivity"/>
        <activity android:name=".Mypage_UserInfoChangeActivity"/>
        <activity android:name=".Mypage_ChangePasswordActivity"/>
        <activity android:name=".Mypage_DeliveryAddressManageActivity"/>
        <activity android:name=".Mypage_DeliveryAddressEditActivity"/>
        <activity android:name=".Mypage_DeliveryAddressPlusActivity"/>
        <activity android:name=".Mypage_RefundAccountManageActivity"/>
        <activity android:name=".Mypage_OrderDeliveryListActivity"/>
        <activity android:name=".Mypage_DeliveryCheckActivity"/>
        <activity android:name=".Mypage_RefundExchangeListActivity"/>
        <activity android:name=".Mypage_UnreviewedListActivity"/>
        <activity android:name=".Mypage_ReviewedListActivity"/>
        <activity android:name=".Mypage_ReviewWriteActivity"/>
        <activity android:name=".CategoryProductListActivity" />
        <activity android:name=".CategorySelectionActivity" />
        <activity android:name=".Manager_ProductUnregisteredActivity" />
        <activity android:name=".Manager_ProductRegisteredActivity" />

    </application>
</manifest>